:root {
  --white-color: #fff;
  --black-color: #000;
  --pink-color: #FBEFEE;
  --text-pink-color: #C58787;
}

@keyframes textAnimation {
  to {
    opacity: .5;
  }
  from {
    opacity: 1;
  }
}

/* Header */
#header {
  padding: 0 52px;
  background-color: var(--pink-color);
  height: 104px;
  display: flex;
  align-items: center
}

.header__loogo {
  height: 104px;
  margin-right: 32px;
}

.header__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item-btn {
  width: 200px;
  height: 40px;
  border-radius: 32px;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 0 18px 0 38px;
}

.header__item-search {
  position: relative;
}

.header__item-btn--icon {
  position: absolute;
  left: 12px;
  top: 10px;
  font-size: 20px;
  z-index: 1;
}

.header__item-cart,
.header__item-user {
  position: relative;
  height: 40px; 
  width: 50px;
  border-radius: 32px;
  background-color: var(--white-color);
  text-align: center;
}

.header__item-cart > i {
  font-size: 24px;
  position: absolute;
  top: 9px;
  left: 12px;
}

.header__item-user > i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 15px;
}

.header__item {
  font-size: 20px;
  color: var(--black-color);
  text-decoration: none;
  letter-spacing: 1.6px;
}

.header__item:hover {
  color: var(--text-pink-color);
  font-weight: bold;
  transition: textAnimation ease-in .3;
}

/* Footer */
#footer {
  font-size: 18px;
  height: 230px;
  background-color: var(--pink-color);
  color: var(--text-pink-color);
  letter-spacing: 1.6px;
  overflow: hidden;
}

.footer__content {
  margin: 24px 0;
}

.footer__contact {
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.footer__links {
  margin: 8px 0 0 32px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 50% 50%;
}

.footer__item {
  /* display: flex;
  align-items: center;
  margin: 12px; */
}

.footer__item > i {
  margin-right: 8px;
}


/* Đăng nhập */
#bt_DN{
  background-color: #E4B3AF;
}
#card1{
  color: #FBEFEE;
}
#fa1{
  background-color: #E4B3AF;
  margin: 0 50px;
  width: 100px;
  height: 30px;
}
#fa2{
  background-color: #E4B3AF;
  margin: 0 50px;
  width: 100px;
  height: 30px;
}
#icon1{
  width: 60px;
  height: 60px;
}
#icon2{
  width: 60px;
  height: 60px;
}
#p_1{
  font-style: italic;
}
#DangNhap_khac{
  display: flex;
  justify-content: center;
}
#card-tong{
  background-color: #FBEFEE;
}


/* Đăng ký */
#h2{
  position: relative;
  top: 50px;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: underline;
  right: 400px;
  top: 300px;
}
#form_DK{
  position: relative;
  top: 50px;
  left: 200px;
}
#btn_DK{
  background-color: #E4B3AF;
  position: relative;
  top: 20px;
}

/* Slider */
#img1{
  width: 1080px;
  height: 880px;
}
#img2{
  width: 1080px;
  height: 880px;
}
#img3{
  width: 1080px;
  height: 880px;
}