* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

/* Container */
#container {
  background-color: var(--pink-color);
  /* height: fit-content; */
}

.content-cus {
  height: 80%;
}

/* Trang chủ */
/* .content__main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
  font-size: 20px;
} */

.content__main-sitemap {
  margin: 0 auto;
  width: calc(100% - 68px);
  padding: 12px;
  font-size: 20px;
  text-align: center;
}

.content__main-head {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 54px;
  font-weight: 800;
  line-height: 1;
}

.content__main-img {
  width: 100%;
}

.content__img {
  height: 64vh;
}

.m__cus {
  margin-top: 24px;
}

.content__right {
  flex: 1;
  margin-left: 94px;
}

.content__desc-item {
  line-height: 1.5;
  text-align: justify;
}

.content__left-sm {
  flex: 1;
  margin: 0 64px;
}

/* Component products */
.content__list {
  display: flex;
  width: 33.333%;
  justify-content: space-between;
}

.content__item {
  font-size: 22px;
  line-height: 1.5;
  width: 100%;
  margin: 46px;
  letter-spacing: 1.2px;
}

.content__item-img {
  object-fit: fill;
  max-width: fit-content;
  height: 400px;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.item__desc-productsname {
  font-weight: 500;
}

.content__item-desc {
  position: relative;
  text-transform: uppercase;
  margin-top: 28px;
}

.item__desc-price {
  font-weight: 400;
  color: #F41E1E;
}

.item__desc-btn {
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 4px;
  width: 100px;
  height: 46px;
  right: 0;
  top: 30%;
  position: absolute;
  cursor: pointer;
  background-color: var(--white-color);
  color: #000;
}

